.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.input {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1;
}

.Chatlog {
  max-height: 10vh; /* Adjust the value as needed */
  overflow-y: auto;
}